---
import {
  getPhotoAlt,
  getPhotoDisplayMeta,
  getPhotoHref,
  isVisibleTitle,
  type PhotoEntry
} from '../../lib/photography';

interface Props {
  photo: PhotoEntry;
  href?: string;
  tagData?: Record<string, readonly string[]>;
}

const { photo, href = getPhotoHref(photo), tagData } = Astro.props;
const meta = getPhotoDisplayMeta(photo);
const showTitle = isVisibleTitle(photo.data.title);
const dataAttributes = tagData
  ? Object.fromEntries(
      Object.entries(tagData).map(([group, values]) => [`data-${group}`, values.join(' ')])
    )
  : {};
---

<li class="photo-grid-item" {...dataAttributes}>
  <a class="photo-grid-link" href={href}>
    <img
      class="photo-grid-image"
      src={photo.data.image}
      alt={getPhotoAlt(photo)}
      width={photo.data.width}
      height={photo.data.height}
      loading="lazy"
    />
    <span class="photo-grid-caption">
      {showTitle ? <span class="photo-grid-title">{meta.title}</span> : null}
      <span>{meta.category}</span>
      {meta.location ? <span>{meta.location}</span> : null}
    </span>
  </a>
</li>
